// * * Variables * * //
$main-color: #43100F
$gradient-color: -webkit-linear-gradient(top, #3c3c3c 0, #222 100%)
$a-color: #9d9d9d
$fixed: fixed

// * * Variables * * //

// * * Typografi * * //
footer
	p
		line-height: 0px
		color: $a-color
h3
	color: #9d9d9d
h2
	color: #9d9d9d

// * * Positioning * * //
body
	margin: 0
	background-color: $main-color
	text-align: center
	font-family: 'Lato', sans-serif
.container
	header
		background-image: $gradient-color
		border: 1px solid black
		height: 30px
		padding: 20px
		position: $fixed
		right: 0
		left: 0
		width: 100%
	footer
		background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222 100%)
		border: 1px solid black
		height: 30px
		padding: 20px
		position: $fixed
		bottom: 0
		width: 100%
	main 
		display: flex 
		flex-direction: row 
		flex-wrap: wrap 
		justify-content: center 
		align-content: stretch 
		align-items: stretch 
		height: 100%
		top: 100px
 
		.middle
			top: 70px
			position: fixed
			width: 45%

		.left
			left: 10px
			width: 26%
			top: 70px
		.right
			width: 26%
			top: 70px
// * * Positioning * * //

// * Navigation bar * //
ul
	margin: 0
ul
	li
		list-style: none
		display: inline-block
li
	padding-left: 35px
	padding-right: 35px
	font-size: 20px
li
	a
		text-decoration: none
		color: $a-color
a:hover
	color: white
.left 
	position: $fixed
	left: 0
	top: 0
	bottom: 0
.right
	position: $fixed
	height: 65px
	right: 0  
	top: 0 
	bottom: 0
// * * Navigation bar * * //























